streamlit
presidio-analyzer
presidio-anonymizer
spacy
torch --index-url https://download.pytorch.org/whl/cpu
transformers==4.44.2
sentence-transformers==2.7.0
faiss-cpu
huggingface_hub
numpy<2.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl
